body {
        font-family: "Roboto", sans-serif;
        background-color: #ffffff;
        color: #434455;
}
ul {
        list-style: none;
}

a {
        text-decoration: none;
}
.header {}

.header-navigation {}

.header-logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.logo-color {
        color: #2E2F42;
         font-family: Raleway;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.16;
         letter-spacing: 0.03em;
}

.header-menu {}

.header-menu-item {}


.header-menu-link {
        color: #2E2F42;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
        }

.header-menu-link:hover, .header-menu-link:focus {
        color: #404BBF
}

.header-contact {
        font-style: normal;
}

.header-contact-menu {}

.header-contact-list {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-contact-list:hover, .header-contact-list:focus {
        color: #404BBF
}

.hero {
        background-color: #2E2F42;
}

.hero-title {
        color: #FFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}

.hero-btn {
        color: #FFF;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        background-color: #4D5AE5;
}
.hero-btn:hover, .hero-btn:focus {
        background-color: #404BBF;
}

/* ==============ADVANTAGES=========== */
.advantages {}

.advantages-list {}

.advantages-item {}

.advantages-subtitle {
        color:#2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.advantages-item-text {
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ================================== */

/* ==============TEAM=========== */
.team {
        background-color: #F4F4FD;
}

.team-title{
        color: #2E2F42;
         font-size: 36px;
         font-weight: 700;
         line-height: 1.11;
         letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}

.team-list {}

.team-item {background-color: #FFF;}

.team-imegs {}

.team-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-text {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ================================== */

.portfolio {}

.portfolio-title {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-item-imeg {}

.portfolio-subtitle {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-item-text {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer {
        background-color: #2E2F42;
}

.footer-logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-color {
        color: #F4F4FD;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-text {
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}